<strong>Olá, {{ student }} </strong>
<p>Seja bem-vindo(a) à <strong>Gympoint</strong></p>
<p>Prepare-se para suar a camisa conosco conferindo abaixo os detalhes da sua matrícula.</p>
<p>
  <strong>Plano:</strong>
  {{ plan }}
</p>
<p>
  <strong>Duração:</strong>
  {{ duration }}
</p>
<p>
  <strong>Data de início:</strong>
  {{ startDate }}
</p>
<p>
  <strong>Data de Encerramento:</strong>
  {{ endDate }}
</p>
<small>
  Não se preocupe! Nós lhe enviaremos um email antes do final don período para podermos preparar sua nova matrícula.
</small>
