<strong>Olá, {{ student }} </strong>
<h3>Sua matrícula na <span style="color: magenta;">Gympoint</span> foi atualizada</h3>
<p>Confira abaixo os dados atualizados:</p>
<p>
  <strong>Plano:</strong>
  {{ plan }}
</p>
<p>
  <strong>Duração:</strong>
  {{ duration }}
</p>
<p>
  <strong>Data de início:</strong>
  {{ startDate }}
</p>
<p>
  <strong>Data de Encerramento:</strong>
  {{ endDate }}
</p>
<small>
  Não se preocupe! Nós lhe enviaremos um email antes do final don período para podermos preparar sua nova matrícula.
</small>
